.navbar {
    width: 51.7094%;
    display: flex;
    align-items: center;
    margin-left: 10.2564%;
}

.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
    &__item:not(:first-child) {
        margin-left: 7.43801%;
        align-items: center;
    }
    &__item:last-child {
        margin-left: 3.4710%;
    }
    &__link {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #283033;
    }
}