.navbar {
    width: 51.7094%;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    &__link {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #283033;
        &_phone {
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #283033;
        }
    }
}